<div class="upload-image">
  <div
    [class]="{
        element: !isLoading && !isError,
        'element--loading': isLoading,
        'element--error': isError && !isLoading,
    }"
  >
    <div class="element-image" [style]="imageInlineStyles"></div>
    <div>
      <label for="file" class="element-edit">
        {{ isLoading ? loadingText : uploadText }}
      </label>
      <input
        #imageInput
        type="file"
        accept="image/*"
        (change)="processFile(imageInput)"
        class="file"
        id="file"
        [disabled]="isLoading"
        role="input"
      />
    </div>
  </div>
</div>
