@use "variables";

.description {
    .note {
        position: absolute;
        right: 0;
        bottom: variables.$base * 8 * (-1);
        transform: rotate(-4deg);
    }

    .input-wrapper {
        width: 100%;
    }
}
