<div>
    <app-title title="{{ 'form.basicInfo.title' | getTranslations}}"
        subtitle="{{ 'form.basicInfo.subtitle' | getTranslations}}">
    </app-title>

    <div *ngFor="let field of fields">
        <div>{{field.name}}</div>
    </div>

    <fieldset ngModelGroup="app-character-form-panel" class="basic-info-fieldset">
        <div class="input-wrapper" *ngFor="let field of fields; let i=index; trackBy:itemIdentity">
            <mat-form-field appearance="fill">
                <mat-label>{{field.translateKey| getTranslations}}</mat-label>
                <input matInput type="text" [name]="field.name" [(ngModel)]="field.model">
            </mat-form-field>
        </div>

    </fieldset>

    <!-- <fieldset ngModelGroup="app-character-form-panel" class="basic-info-fieldset">
        <div class="input-wrapper">
            <mat-form-field appearance="fill">
                <mat-label>{{'form.basicInfo.fields.name.label' | getTranslations}}</mat-label>
                <input matInput type="text" name="model.name" [(ngModel)]="model.name">
            </mat-form-field>
        </div>

        <div class="input-wrapper">
            <mat-form-field appearance="fill">
                <mat-label>{{'form.basicInfo.fields.age.label' | getTranslations}}</mat-label>
                <input matInput type="text" name="model.age" [(ngModel)]="model.age">
            </mat-form-field>
        </div>

        <div class="input-wrapper">
            <mat-form-field appearance="fill">
                <mat-label>{{'form.basicInfo.fields.race.label' | getTranslations}}</mat-label>
                <input matInput type="text" name="model.race" [(ngModel)]="model.race">
            </mat-form-field>
        </div>
    </fieldset> -->
</div>
