@use "colors";
@use "variables";

::ng-deep .basic-info-fieldset {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .input-wrapper {
        width: 48%;

        @media screen and (max-width: variables.$small) {
            width: 100%;
        }
    }

    .mat-mdc-form-field-flex {
        // height: 44px;
    }

    .mat-mdc-form-field-infix {
    }

    .mat-mdc-form-field {
        width: 100% !important;
    }

    .mat-mdc-text-field-wrapper {
        border: 2px solid colors.$accent;
        border-radius: 45px !important;
        background-color: transparent !important;

        input {
            color: colors.$text !important;
            font-size: variables.$basic-font-size;
        }

        label {
            color: colors.$accent !important;
            font-size: variables.$basic-font-size;
        }
    }
}
