@use "colors";
@use "variables";
@import "inputs";

.basic-info {
    .note {
        transform: rotate(4deg);
        position: absolute;
        right: 0;
        bottom: variables.$base * 6 * (-1);
    }

    .fieldset {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .input-wrapper {
            width: 49%;
            margin-bottom: variables.$base * 5;

            @media screen and (max-width: variables.$small) {
                width: 100%;
            }
        }
    }
}
