<div>
    <app-title title="{{ 'form.basicInfo.title' | getTranslations}}"
        subtitle="{{ 'form.basicInfo.subtitle' | getTranslations}}">
    </app-title>

    <fieldset class="basic-info-fieldset" [formGroup]="form">
        <div class="input-wrapper">
            <label>{{'form.basicInfo.fields.name.label' | getTranslations}}</label>
            <input type="text" name="name" formControlName="name">
        </div>
        <div class="input-wrapper">
            <label>{{'form.basicInfo.fields.nature.label' | getTranslations}}</label>
            <input type="text" name="nature" formControlName="nature">
        </div>
        <div class="input-wrapper">
            <label>{{'form.basicInfo.fields.race.label' | getTranslations}}</label>
            <input type="text" name="race" formControlName="race">
        </div>
        <div class="input-wrapper">
            <label>{{'form.basicInfo.fields.age.label' | getTranslations}}</label>
            <input type="text" name="age" formControlName="age">
        </div>
        <div class="input-wrapper">
            <label>{{'form.basicInfo.fields.origin.label' | getTranslations}}</label>
            <input type="text" name="origin" formControlName="origin">
        </div>
    </fieldset>
</div>
