@use "colors";
@use "variables";

.basic-info-fieldset {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .input-wrapper {
        width: 49%;
        margin-bottom: variables.$base * 3;

        @media screen and (max-width: variables.$small) {
            width: 100%;
        }

        input {
            $space: variables.$base * 6;
            color: colors.$text;
            font-size: variables.$basic-font-size;
            border: 2px solid colors.$accent;
            border-radius: 45px;
            background-color: transparent;
            width: calc(100% - 2 * $space);
            height: variables.$base * 9;
            padding: 0 $space;

            &:focus {
                box-shadow: none;
                outline-color: none;
                border-color: colors.$text;
            }
        }
    }

    .input-wrapper--error {
        @extend .input-wrapper;

        input {
            border-color: colors.$error;
            color: colors.$error;
        }

        label {
            color: colors.$error;
        }
    }
}
