@use "variables";
@use "colors";

.title {
    margin-bottom: variables.$base * 10;

    h2 {
        font-family: "Chango";
        font-size: variables.$title-font-size;
        margin: 0;
    }

    small {
        font-size: variables.$basic-font-size;
    }
}
