<div class="avatar-filters">
  <app-slider
    [min]="0"
    [max]="100"
    [name]="names.GREY_SCALE"
    (onValueChangeEvent)="onValueChange($event)"
    [value]="greyScale"
    [label]="'form.avatar.fields.greyScale' | getTranslations"
  />
  <app-slider
    [min]="0"
    [max]="100"
    [name]="names.BRIGHTNESS"
    (onValueChangeEvent)="onValueChange($event)"
    [value]="greyScale"
    [label]="'form.avatar.fields.brightness' | getTranslations"
  />
  <app-slider
    [min]="0"
    [max]="100"
    [name]="names.ZOOM"
    (onValueChangeEvent)="onValueChange($event)"
    [value]="greyScale"
    [label]="'form.avatar.fields.zoom' | getTranslations"
  />
</div>
