<div class="avatar-filters">
    <app-slider [min]="0" [max]="100" id="greyScale" (onValueChangeEvent)="onValueChange($event)" [value]="greyScale"
        [label]="'form.avatar.fields.greyScale' | getTranslations" />
    <app-slider [min]="40" [max]="200" id="brightness" (onValueChangeEvent)="onValueChange($event)" [value]="brightness"
        [label]="'form.avatar.fields.brightness' | getTranslations" />
    <app-slider [min]="100" [max]="200" id="zoom" (onValueChangeEvent)="onValueChange($event)" [value]="zoom"
        [label]="'form.avatar.fields.zoom' | getTranslations" />

    <div class="reset">
        <span role="button" (mousedown)="onClickReset()">{{'form.avatar.fields.reset' | getTranslations}}</span>
    </div>
</div>
