<div class="avatar-filters">
    <app-slider id="greyScale" (onValueChangeEvent)="onValueChange($event)" [value]="greyScale"
        [label]="'form.avatar.fields.greyScale' | getTranslations" />
    <app-slider id="brightness" (onValueChangeEvent)="onValueChange($event)" [value]="brightness"
        [label]="'form.avatar.fields.brightness' | getTranslations" />
    <app-slider id="zoom" (onValueChangeEvent)="onValueChange($event)" [value]="zoom"
        [label]="'form.avatar.fields.zoom' | getTranslations" />
</div>
