@use "variables";
@use "colors";

.text-button {
    cursor: pointer;
    font-size: variables.$small-font-size;
    color: colors.$accent;
    padding-bottom: variables.$base;
    display: inline-block;

    &:hover,
    &:active {
        text-decoration: underline;
    }
}
