<app-panel
  [title]="'form.avatar.title' | getTranslations"
  [subtitle]="'form.avatar.subtitle' | getTranslations"
  class="basic-info"
>
  <app-note class="note" text="{{ 'form.avatar.note' | getTranslations }}" />

  <div class="flex-container">
    <app-upload-image
      class="half"
      [isError]="isError"
      [isLoading]="isLoading"
      (onProcessAvatarEvent)="onProcessImage($event)"
      [loadingText]="'form.avatar.loading' | getTranslations"
      [uploadText]="'form.avatar.upload' | getTranslations"
      [imageInlineStyles]="avatarInlineStyles"
    />
    <app-avatar-filters class="half" />
  </div>
</app-panel>
