@use "variables";
@use "colors";

#pdf {
    width: 210mm;
    height: 297mm;
}

.nav {
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: center;
}

.submit-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: variables.$base * 20;
}

.pdf-content-wrapper {
    visibility: hidden;
    // display: none;
}
