<nav class="nav">
  <div class="width-wrapper">
    <app-navbar />
  </div>
</nav>

<header class="header">
  <div class="width-wrapper">
    <app-jumbotron />
  </div>
</header>

<app-width-wrapper>
  <form
    (ngSubmit)="onSubmitPreview($event)"
    [formGroup]="form"
    autocomplete="off"
  >
    <app-character-form-panel></app-character-form-panel>
    <app-document-panel></app-document-panel>

    <div class="submit-wrapper">
      <app-button
        type="submit"
        [text]="'preview.action' | getTranslations"
      ></app-button>
    </div>
  </form>
</app-width-wrapper>

<footer>
  <app-footer></app-footer>
</footer>

<!-- <div class="pdf-content-wrapper">
  <iframe [style]="{ width: '210mm', height: '297mm' }" src="/pdf"> </iframe>
</div> -->

<div class="pdf-content-wrapper">
  <div [style]="{ width: '210mm', height: '297mm' }">
    <app-pdf-panel></app-pdf-panel>
  </div>
</div>
