@use "variables";
@use "colors";

.pdf-content {
    margin-top: variables.$base * 8;
    // background-image:;
}

.alert-info {
    background-color: colors.$error;
    border-radius: variables.$border-radius;
    padding: variables.$base * 4;

    .title {
        font-weight: 700;
        margin-right: variables.$base * 2;
        margin-left: variables.$base * 2;
    }
}

.buttons-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: variables.$base * 4;
}
