<div class="pdf-content">
  <div class="basic-wrapper">
    <div class="avatar" [style]="{ backgroundImage: imageUrlCss }"></div>

    <div class="panel">
      <div class="name">
        {{ basisInfoForm.get("name")?.value || "NAME NAME" }}
      </div>

      <div *ngFor="let field of basicInfoFieldsNames">
        <span class="info-title"
          >{{ "preview.pdf." + field | getTranslations }}:</span
        >
        <span class="info">{{
          this.basisInfoForm.get(field)?.value || "info info"
        }}</span>
      </div>
    </div>
  </div>
  <div>BIO</div>
</div>
