<div class="upload-image">
  <div [class]="{ 'element--loading': isLoading, element: !isLoading }">
    <div class="element-image" [style]="imageInlineStyles"></div>
    <div>
      <label for="file" class="element-edit">
        {{
          isLoading
            ? ("form.avatar.loading" | getTranslations)
            : ("form.avatar.upload" | getTranslations)
        }}</label
      >
      <input
        #imageInput
        type="file"
        accept="image/*"
        (change)="processFile(imageInput)"
        class="file"
        id="file"
        [disabled]="isLoading"
      />
    </div>
  </div>
</div>
