.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.half {
    width: 49%;
}

.basic-info {
    .note {
        position: absolute;
        bottom: 0;
        left: 0;
        transform: rotate(-6deg);
    }
}
