@use "variables";

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.half {
    width: 49%;
}

.basic-info {
    .note {
        position: absolute;
        bottom: variables.$base * 6 * (-1);
        right: 0;
        transform: rotate(-12deg);
    }
}
