@use "variables";
@use "colors";

.button {
    border-radius: variables.$border-radius;
    height: 44px;
    cursor: pointer;
    border: variables.$base * 0.5 solid colors.$accent;
    background-color: colors.$accent-dark;
    color: colors.$text;
    padding: 0 variables.$base * 4;
    margin-top: variables.$base * 20;

    &:focus,
    &:hover {
        background-color: colors.$accent;
        border-color: colors.$accent;
    }

    &:disabled {
        cursor: not-allowed;
        background-color: rgba(colors.$accent-dark, 0.5);
        border-color: rgba(colors.$accent-dark, 0.5);
    }
}
