@use "colors";
@use "variables";

.slider {
    $circle-size: variables.$base * 5.5;
    height: $circle-size;
    padding: variables.$base * 3 0;
    width: 100%;

    @mixin thumb {
        border-radius: 50%;
        width: $circle-size;
        height: $circle-size;
        background-color: colors.$accent;
        cursor: pointer;
        border: none;
    }

    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        @include thumb;
    }

    input[type="range"]::-moz-range-thumb {
        @include thumb;
    }

    input[type="range"]::-ms-thumb {
        @include thumb;
    }

    input[type="range"] {
        -webkit-appearance: none;
        width: 100%;
        height: variables.$base * 2;
        border-radius: variables.$border-radius;
        background: colors.$accent-dark;
        outline: none;
        -webkit-transition: 0.2s;
        transition: opacity 0.2s;
    }
}
