@use "variables";

.main {
    display: flex;
    justify-content: center;
}

.content {
    padding: variables.$content-padding;
    width: 100%;
    max-width: 1000px;

    @media screen and (max-width: variables.$small) {
        padding: variables.$content-padding;
    }
}
