@use "variables";
@use 'colors';

.nav {
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    justify-content: center;
}

.width-wrapper {
    max-width: variables.$max-width;
    position: relative;
    width: 100%;
    padding: variables.$content-padding;

    @media screen and (max-width: variables.$small) {
        padding: variables.$content-padding;
    }
}

.submit-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: variables.$base * 20;

    [type="submit"] {
        border-radius: variables.$border-radius;
        height: 44px;
        cursor: pointer;
        border: variables.$base * 0.5 solid colors.$accent;
        background-color: colors.$accent-dark;
        color: colors.$text;
        padding: 0 variables.$base * 4;

        &:focus, &:hover {
            background-color: colors.$accent;
            border-color: colors.$accent;
        }
    }
}