@use "variables";
@import "inputs";

.description {
    .input-wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    textarea {
        @include any-input;
    }

    .note {
        position: absolute;
        right: 0;
        bottom: variables.$base * 2 * (-1);
        transform: rotate(-4deg);
    }
}
