<app-panel [title]="'form.description.title' | getTranslations"
    [subtitle]="'form.description.subtitle' | getTranslations" class="description">
    <app-note class="note" text="{{ 'form.description.note' | getTranslations }}" />

    <fieldset class="description-info-fieldset" [formGroup]="form">
        <div class="input-wrapper">
            <label>{{ "form.description.label" | getTranslations}}</label>
            <textarea type="text" name="description" formControlName="description" rows="12"></textarea>
        </div>
    </fieldset>
</app-panel>
