<app-panel
  [title]="'form.description.title' | getTranslations"
  [subtitle]="'form.description.subtitle' | getTranslations"
  class="description"
>
  <fieldset class="input-wrapper">
    <app-note
      class="note"
      text="{{ 'form.description.note' | getTranslations }}"
    />
    <app-textarea
      [error]="descriptionError || '' | getTranslations"
      inputName="description"
      [label]="'form.description.label' | getTranslations"
      [form]="form"
    ></app-textarea>
  </fieldset>
</app-panel>
