<ng-container [formGroup]="form">
  <fieldset class="fieldset" [formGroup]="form">
    <app-label
      [isError]="isError(inputName)"
      [text]="label"
      [forField]="inputName"
    ></app-label>
    <input
      type="text"
      role="input"
      [name]="inputName"
      [formControlName]="inputName"
      [class]="{
        input: !isError(inputName),
        'input--error': isError(inputName)
      }"
    />
    <app-field-error
      [formControlItem]="getFormControl(inputName)"
    ></app-field-error>
  </fieldset>
</ng-container>
