@use "variables";
@use "colors";

@font-face {
    font-family: "Ubuntu";
    src: url("./assets/fonts/UbuntuSans-VariableFont_wdth\,wght.ttf");
}

@font-face {
    font-family: "Chango";
    src: url("./assets/fonts/Chango-Regular.ttf");
}

@font-face {
    font-family: "Nothing You Could Do";
    src: url("./assets/fonts/NothingYouCouldDo-Regular.ttf");
}

*:focus {
    outline: none;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    background-color: colors.$background;
    color: colors.$text;
    font-size: variables.$basic-font-size;
    font-family: "Ubuntu", sans-serif;
    padding: 0 8px;
}

h1,
h2 {
    margin: 0;
}

fieldset {
    border: 0;
    padding: 0;
    margin: 0;
    min-width: 0;
}
