@use 'variables';
@use 'colors';

@mixin any-input {
    $space: variables.$base * 6;

    color: colors.$text;
    font-size: variables.$basic-font-size;
    border: 2px solid colors.$accent-dark;
    border-radius: 35px;
    background-color: transparent;
    width: calc(100% - 2 * $space);
    padding: variables.$base * 3 $space;

    &:focus {
        box-shadow: none;
        outline-color: none;
        border-color: colors.$accent;
    }
}