@use "@angular/material" as mat;
@use "theme";

$primary-default: mat.get-theme-color(theme.$theme, primary, default);
$secondary-default: mat.get-theme-color(theme.$theme, accent, default);
$type: mat.get-theme-type(theme.$theme);
