@use "variables";
@use "colors";

.theme-element {
    $size: 190px;
    $min-size: 104px;

    .element {
        cursor: pointer;
        border-radius: variables.$border-radius;
        width: $size;
        height: $size;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: variables.$base solid colors.$accent-dark;
        margin-bottom: variables.$base * 2;

        @media screen and (max-width: variables.$small) {
            width: $min-size;
            height: $min-size;
        }

        &:hover {
            border-color: colors.$accent;
        }
    }

    .element--selected {
        border-color: colors.$accent;

        &::after {
            content: "";
            background-color: colors.$accent;
            width: $size + variables.$base;
            height: $size + variables.$base;
            position: absolute;
            top: variables.$base * 0.5 * (-1);
            left: variables.$base * 0.5 * (-1);
            border-radius: variables.$border-radius;
            opacity: 0.5;

            @media screen and (max-width: variables.$small) {
                width: $min-size + variables.$base;
                height: $min-size + variables.$base;
            }
        }
    }

    .theme-label {
        text-align: center;
    }
}
